body {
    margin: 0%;
}

#topo {
    background-color: #a2ffe0;
    color:#293131;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin:0%;
    padding: 20px;

}

.botao {
    background-color: hsl(180, 10%, 83%);
    margin: 10px;
    padding: 5px;
}

.flex {
    display:flex;
    justify-content: center;
}

.ajuste {
    padding: 15px;
}